<!DOCTYPE html>
<html>
 <head>
    <title> Ruby on Rails Tutorial Sample App | Home</title>
 </head>
<body>
<h1> Sample App</h1>
    <p>
      If you want participate on the best auctions in the world, so click
      <a href="http://www.ebay.de">here</a>
      .
    </p>
</body>
</html>